extends ../sidebar

block stylesheets
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block scripts
  script(src="/javascripts/feed.js")

block authenticatedcontent
  // Modal
  #exampleModalScrollable.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalScrollableTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable(role='document')
      .modal-content
        .modal-header
          h5#exampleModalScrollableTitle.card-title.text-muted(style="font-size: small;")
            span
              p#author-name-modal
                a#author-link-modal(href="#")
            div#group-div-modal(style="display:none")
              span(style="font-size: 70%;")  &#9654; 
              span(id="groupat-span")
                a.text-info#group-link-modal(href="#" style="text-decoration: none;")
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          textarea.form-control(type="text" id="post-text-modal" maxlength="1000" name="text" autocomplete="off" required)
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='button' onclick="submitEdit()") Save changes

  form(action="/posts/" + user.at method="POST" id="new-post-form")
    div.form-group
      label
        b Conteúdo da Publicação
      textarea.form-control(type="text" id="new-post-form-textarea" maxlength="1000" name="text" autocomplete="off" required)
    button.btn.btn-primary(type="submit") Publicar no perfil
  .container-fluid(id="posts-container")
    each post in posts
      .card.mt-1(class="post")
        if post.image
          img.card-img-top(src='...' alt='...')
        .card-body
          h5.card-title.text-muted(style="font-size: small;")
              span(data-author-name=post.author) #{post.author} 
                a(href="/users/" + post.authorAt) @#{post.authorAt}
              if post.authorAt != post.groupAt
                span(style="font-size: 70%;")  &#9654; 
                span
                  a.text-info(href="/groups/" + post.groupAt style="text-decoration: none;") #{post.groupAt}
              if post.authorAt == user.at
                span
                  //NAO ALTERAR ORDEM DOS ATRIBUTOS. COLOCAR NOVOS NO FIM. SE FOR PARA APAGAR ALGUM, ALTERAR INDICE NO feed.js, a modal vai estragar
                  div#edit-link-data(style="display: none" post-id=post._id author-name=post.author author-at=post.authorAt group-at=post.groupAt)
                  a.text-info.float-right.edit-link(href="#" data-toggle='modal' data-target='#exampleModalScrollable') editar
          hr
          p.card-text.mt-3(style="font-size: 115%;")
            =post.text
