extends ../sidebar

block stylesheets
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block scripts
  script(src="/javascripts/feed.js")

block authenticatedcontent
  include ../fragments/editpostmodal
  form(action="/posts/" + user.at method="POST" id="new-post-form")
    div.form-group
      label
        b Conteúdo da Publicação
      textarea.form-control(type="text" id="new-post-form-textarea" maxlength="1000" name="text" autocomplete="off" required)
    button.btn.btn-primary(type="submit") Publicar no perfil
  .container-fluid(id="posts-container")
    each post in posts
      .card.mt-1(class="post")
        if post.image
          img.card-img-top(src='...' alt='...')
        .card-body
          h5.card-title.text-muted(style="font-size: small;")
              span(data-author-name=post.author) #{post.author} 
                a(href="/users/" + post.authorAt) @#{post.authorAt}
              if post.authorAt != post.groupAt
                span(style="font-size: 70%;")  &#9654; 
                span
                  a.text-info(href="/groups/" + post.groupAt style="text-decoration: none;") #{post.groupAt}
              if post.authorAt == user.at
                span
                  //NAO ALTERAR ORDEM DOS ATRIBUTOS. COLOCAR NOVOS NO FIM. SE FOR PARA APAGAR ALGUM, ALTERAR INDICE NO feed.js, a modal vai estragar
                  div#edit-link-data(style="display: none" post-id=post._id author-name=post.author author-at=post.authorAt group-at=post.groupAt)
                  a.text-info.float-right.edit-link(href="#" data-toggle='modal' data-target='#exampleModalScrollable') editar
                  
          hr
          p.card-text.mt-3(style="font-size: 115%;")
            =post.text
          if post.files && post.files[0]
            hr
            p Ficheiros:
            ul.list-group.list-group-flush
              each file in post.files
                li.list-group-item #{file.originalname} - #{file.mimetype}