extends sidebar

block stylesheets
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block scripts
  script(src="/javascripts/dashboard.js")

block authenticatedcontent
  .mt-5
    .card-columns
      each user in users
        .card.mb-3(style='max-width: 340px;')
          .row.no-gutters
            .col-md-4
              if user.picture
                img.card-img(src=user.picture alt='profile picture')
              else
                img.card-img(src="https://i.imgur.com/mCHMpLT.png" alt='profile picture')
            .col-md-8
              .card-body
                h5.card-title= user.name
                p.card-text= user.email
                p.card-text.text-muted= user.course
            form.p-2(action="/users/invitetogroup?invited-email=" + user.email method="POST")
              div.form-group
                label
                  b Convidar para grupo
                select.custom-select(name="course" required)
                  option(value="") Grupos
                  option(value=curso name="course") AAA
                button.btn.btn-primary.mt-2(type="submit") Convidar