extends sidebar

block stylesheets
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block scripts
  script(src="/javascripts/dashboard.js")

block authenticatedcontent
  .mt-5
  if type == 1
    .card.w-50
      .card-body
        h5.card-title= result.name
        p.card-text @#{result.at} - Foste convidado para este grupo
        a.btn.btn-primary.float-right.ml-2(href='/groups/'+result.at) Ver
        a.btn.btn-success.float-right.ml-2(href='/groups/'+result.at+'/follow') Aceitar
        a.btn.btn-danger.float-right(href='/groups/'+result.at+'/unfollow') Recusar
  else if type == 2
    .card.w-50
      .card-body
        h5.card-title= result.name
        p.card-text @#{result.at}
        a.btn.btn-primary.float-right.ml-2(href='/groups/'+result.at) Ver
        a.btn.btn-danger.float-right(href='/groups/'+result.at+'/unfollow') Sair
  else if type == 3
    .card.w-50
      .card-body
        h5.card-title= result.name
        p.card-text @#{result.at}
        a.btn.btn-primary.float-right.ml-2(href='/groups/'+result.at) Ver
        a.btn.btn-success.float-right.ml-2(href='/groups/'+result.at+'/follow') Aderir
  else if type == 4
    .card.w-50
      .card-body
        h5.card-title= result.name
        p.card-text @#{result.at}
        a.btn.btn-primary.float-right.ml-2(href='/users/'+result.at) Ver
        a.btn.btn-danger.float-right(href='/groups/'+result.at+'/unfollow') Não seguir
  else if type == 0
    .card.w-50
      .card-body
        h5.card-title= result.name
        p.card-text @#{result.at}
        a.btn.btn-primary.float-right.ml-2(href='/users/'+result.at) Ver
        a.btn.btn-success.float-right.ml-2(href='/groups/'+result.at+'/follow') Seguir
  else
    div.alert.alert-warning.alert-dismissible.fade.show(role="alert" class="alert-msg") O handle pesquisado não existe